extends ../layouts/default

block content
  .container
    .resources
      each resource in data.resources
        .resource.row
          .col-md-4
            .title 
              a(href="#{protocol}:#{resource.content.url}") #{resource.title}
          .col-md-3
            div #{resource.author}
          .col-md-3
            each subject in resource.subjects
              div #{subject.title}
          .col-md-2
            each resourceType in resource.resourceTypes
              div #{resourceType.title}              
