extends ../layouts/default

block content
  .container
    .articles
      each article in data.articles
        .article.row
          .col-md-4
            .title 
              a(href="#{protocol}:#{article.content.url}") #{article.title}
          .col-md-3
            div #{article.author}
          .col-md-3
            each subject in article.subjects
              div #{subject.title}
          .col-md-2
            each contentType in article.contentTypes
              div #{contentType.title}              
